<body ng-app="formApp">
    <div ng-controller="formController">

        <p class="animalName">Please enter the name of an animal</p>
        <p class="formInput">
            <input type="text" ng-model="animalName"/>
            <button type="button" >Animal Name</button>
        </p>

        <p class="largestPrey">What is its largest prey?</p>
        <p class="formInput">
            <input type="text" ng-model="largestPrey" />
            <button type="button">Largest Prey</button>
        </p>
